.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 3;
}

.logo a {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: gray;
}

.menu-toggle {
  font-size: 1.5rem;
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.category {
  display: flex;
  gap: 1rem;
  list-style: none;
}

.category li a {
  text-decoration: none;
  color: black;
  font-weight: 500;
}

/* 모바일 화면일 때 */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  .category {
    position: absolute;
    top: 60px;
    right: 1rem;
    flex-direction: column;
    background: white;
    padding: 1rem;
    border: 1px solid #ddd;
    border-radius: 5%;
    display: none;
  }

  .category.open {
    display: flex;
  }
}
