.intro {
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 88%;
  justify-content: start;
  margin-bottom: 10%;
}
.main-img {
  height: 56vh;
}
.container {
  position: relative;
  font-family: "Noto Sans KR", sans-serif;
}
.readme {
  border: none;
}
.readme:hover {
  color: #f14d70;
}
.pol-logo {
  /* width: 80px; */
  height: 80px;
}
.pol-title-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 16%;
  margin-bottom: 8%;
}
.pol-title {
  color: #f14d70;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: -3pt;
}
.sub-title {
  color: #f14d71a1;

  font-weight: bold;
}
.origin {
  /* width: 36%; */
  display: flex;
}
@media (max-width: 768px) {
  .origin {
    width: 100%;
    flex-direction: column;
    align-items: center; /* 필요 시 추가 */
  }
}
.origin-text {
  margin-left: 4%;
}

p {
  word-break: keep-all;
  font-size: 1.2em;
}
.develop {
  width: 88%;
}
.circle {
  width: 35vh;
  height: 70vh;
  border-radius: 0 35vh 35vh 0;
  background-color: #19be95;

  position: absolute;

  margin-top: 50%;
  z-index: -1;
  margin-left: -6%;
}
.circle-bg {
  width: 35vh;
  height: 70vh;
  border-radius: 0 35vh 35vh 0;
  background-color: #fff;

  position: absolute;

  margin-top: 50%;
  margin-left: -6%;
  z-index: 1;
  mix-blend-mode: difference;
}
.cpr-guide {
  display: flex;
  align-items: center;
}
.cpr-guide-text > h3 {
  color: #f14d70;
  font-weight: bold;
}
.cpr-img {
  width: 33%;
  float: right;
  padding: 30pt;
  z-index: 3;
}
.cpr-message {
  display: flex;
  align-items: center;
}
.cpr-message-text > h3 {
  color: black;
}
.cpr-message-title {
  color: black;
  font-size: 24pt;
  margin-top: 10%;
}

.ts-header {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: 3rem;
}

.ts-title {
  font-size: 1.5rem;
  color: #ff2f7a;
  font-weight: bold;
}

.ts-subtitle {
  font-size: 1.4rem;
  margin-top: 5rem;
  font-weight: 600;
}

.ts-desc {
  margin-bottom: 1rem;
  color: #444;
}

.ts-problems,
.ts-solutions,
.ts-result {
  margin-top: 1rem;
  padding-left: 1rem;
}

.ts-problems p,
.ts-solutions p,
.ts-result p {
  margin: 0.4rem 0;
}

.ts-code-img {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

.ts-code-img img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}
